/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*noinspection CssOverwrittenProperties*/
    font-size: 100%;
    /*noinspection CssOverwrittenProperties*/
    font: inherit;
    vertical-align: baseline;


}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    /*noinspection CssOverwrittenProperties*/
    content: '';
    /*noinspection CssOverwrittenProperties*/
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.float-wrapper:before,
.float-wrapper:after {
    content: "";
    display: table;
}

.float-wrapper:after {
    clear: both;
}

.float-wrapper {
    clear: both;
    *zoom: 1;
}

/*
  ========================================
  Imports
  ========================================
*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=La+Belle+Aurore&display=swap');


/*
  ========================================
  Variables
  ========================================
*/



:root {
  --parchment: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(242, 225, 179, 0.65) 100%), #FCF9F1;
  --parchment-glow: radial-gradient(50% 50% at 50% 50%, #FFDBAA 0%, rgba(255, 255, 255, 0) 100%), #FFC44E;
  --machine-frame: linear-gradient(173.12deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #242527;
  --brass-reflective: linear-gradient(123.49deg, rgba(255, 255, 255, 0.2) 0%, rgba(173, 173, 173, 0.2) 27.6%, rgba(112, 112, 112, 0.2) 55.21%, rgba(0, 0, 0, 0.2) 80.73%, rgba(0, 0, 0, 0.2) 100%), #644F19;

  --banking-green: #234E2C;
  --jumpsuit-blue: #18445C;

  --brass-01: #FFEFBD;
  --brass-02: #FFE183;
  --brass-03: #FFCE33;
  --brass-04: #9F801C;
  --brass-05: #644F19;
  


}



/*
  ========================================
  iOS support
  ========================================
*/

/* prevents long press popups from ruining everything 😡 */
/* img {
    -webkit-touch-callout: none;
} */

/* prevents annoying selection of images that's common in iOS */
/* img {

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
} */

/* prevents the dumb grey highlight when clicking stuff on iOS */
/* .entity {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */

/*
  ========================================
  Text & Fonts
  ========================================
*/
/* 
html {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #424242;
}

body {
    font-size: 100%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
} */

/*
  ========================================
  Responsiveness
  ========================================
*/


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


.intro-panel{
  height: 100px;
  width: 100%;
}

.machine {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.intake-panel{
  width: 100%;
}

.machine .second-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}



@media (min-width: 0) {

  .App{
    margin: 32px 0;
  }

  .values-list {
    flex-direction: row;
    /* height: 64px; */
  }


  .value-list-item {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 4px;
    font-size: 18px;

    /* line-height: 16px; */

  }

  .value-list-item .name {
    min-width: 80px;
    text-align: center;

  }

  .value-list-item .icon {
    font-size: 24px;
    height: 24px;

  }

}

@media (min-width: 768px) {
  .App{
    margin: 32px 40px;
    gap: 64px;
  }
  
  .intro-panel{
    max-width: 712px;
  }

  .machine {
    max-width: 896px;
  }

  .intake-panel{
    width: calc(100% - 124px);
  }

}

@media (min-width: 1024px) {
  .App{
    margin: 32px 64px;
  }

  .machine {
    flex-direction: row;
    gap: 64px;
    max-width: none;
  }

  .intake-panel{
  width: 100%;
}

  .values-list {
    flex-direction: column;
    height: 500px;
  }

  .value-list-item {
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    align-items:baseline;
  }

  .value-list-item .name {
    text-align: left;
  }

  .value-list-item .icon {
    font-size: 16px;
    height: 16px;
  }

  .machine .second-section {
    gap: 64px;
  }
  

}

@media (min-width: 1400px) {
  .App {
    margin: 88px 64px;
    flex-direction: row;
    align-items: flex-start;
  }

  .intro-panel{
    max-width: 416px;
  }

  .value-list-item {
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    align-items:baseline;
    font-size: 24px;
  }

  .value-list-item .icon {
    font-size: 24px;
    height: 24px;
  }


}


/*
  ========================================
  App
  ========================================
*/

.App {
  display: flex;
}




/*
  ========================================
  Intro Panel
  ========================================
*/

.intro-panel{
  box-sizing: border-box;
  background: var(--parchment);
}

.intro-panel .ornate-label {
  margin: auto;

}

/*
  ========================================
  Intake Panel
  ========================================
*/

.intake-panel{
  box-sizing: border-box;
  background: var(--machine-frame);
  padding: 8px;


}

.values-block {

}

.values-block .ornate-label {
  margin: auto;

}


.values-list {
  display: flex;
  overflow: scroll;

  border-radius: 4px;

  /* filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.4));
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

.value-list-item {
  display: flex;
  background: var(--parchment);
  border: none;
  font-family: 'La Belle Aurore', cursive;
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;

}

.value-list-item.selected {
  background: var(--parchment-glow);

}

.value-list-item .name {
  color: rgba(28, 29, 44, 0.8);
}

.value-list-item .icon {
  /* height: 24px; */
}





/*
  ========================================
  Values Panel
  ========================================
*/

.values-panel{
  box-sizing: border-box;
  height: 100px;

  background: var(--machine-frame);
}



/*
  ========================================
  Output Panel
  ========================================
*/

.output-panel{
  box-sizing: border-box;
  height: 100px;
  background: var(--machine-frame);
}

/*
  ========================================
  Footer
  ========================================
*/

/*
  ========================================
  Frame
  ========================================
*/

/* 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥 */
.frame {
  display: inline-block;
  /* width: fill; */
  border-radius: 8px ;
  background: var(--brass-reflective);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));

}

.frame .inner-content {
  /* width: 100%; */
}

.frame .rivet {
  position: absolute;
  border-radius: 100%;

  background: var(--brass-reflective);
  box-shadow: inset 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.4);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));

}

.frame.thin > .rivet:nth-child(1) {
  top: 4px;
  left: 4px;
}

.frame.thin > .rivet:nth-child(2) {
  top: 4px;
  right: 4px;
}

.frame.thin > .rivet:nth-child(3) {
  bottom: 4px;
  right: 4px;
}

.frame.thin > .rivet:nth-child(4) {
  bottom: 4px;
  left: 4px;
}

.frame.thicc > .rivet:nth-child(1) {
  top: 6px;
  left: 6px;
}

.frame.thicc > .rivet:nth-child(2) {
  top: 6px;
  right: 6px;
}

.frame.thicc > .rivet:nth-child(3) {
  bottom: 6px;
  right: 6px;
}

.frame.thicc > .rivet:nth-child(4) {
  bottom: 6px;
  left: 6px;
}


.frame.thin {
  padding: 8px;

}

.frame.thin > .rivet {
  width: 4px;
  height: 4px;
}


.frame.thicc {
  padding: 16px;

}

.frame.thicc > .rivet {
  width: 8px;
  height: 8px;
}

/*
  ========================================
  Labels
  ========================================
*/

/* 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥 */

.ornate-label {
  display: block;
  width: fit-content;
}

.ornate-label .inner-content {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;

  background-color: var(--banking-green);
  color: var(--brass-03);
  font-size: 1.5em;
  font-family: 'cinzel decorative', serif;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.4));




}



